.container{
    margin-top: 80px;
}

.top-banner {
    display: flex;
    flex-direction: row;
    padding: 5px 20px 0;
    background-color: rgb(75, 74, 74);
    .tab-contain{
        cursor: pointer;
        margin-right: 20px;
        font-size: 18px;
        color: rgb(121, 121, 121);
        border-bottom: 3px solid rgb(75, 74, 74);
    }
    .tab-active{
        color: rgb(253, 208, 148)!important;
        border-bottom: 3px solid rgb(255, 215, 162);
    }
}
.table-container{
    margin: 20px;
    .msg{
        width: 400px;
        margin: 40px 20px;
        .line{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .title{
                text-align: right;
                width: 150px;
                color: rgb(53, 53, 53);
                font-weight: bold;
                font-size: 16px;
            }
            .con{
                font-size: 14px;
                line-height: 1;
                color: rgb(114, 111, 111);
            }
        }
        .logo-line{
            width: 250px;
            .logo-content{
                width: 70px;
                height: 70px;
                border-radius: 35px;
                border: 1px solid #ccc;
                float: left;
                margin-left: 30px;
                margin-right: 20px;
                i{
                    font-size: 22px;
                    margin-top: 20px;
                    margin-left: 23px;
                    color: #aaa;
                }
                .logo{
                    width: 70px;
                    height: 70px;
                    border-radius: 40px;
                }
            }
            .btn{
                margin-top: 40px;
                font-size: 12px !important;
                font-weight: normal !important;
            }
        }      
    }
}