.topBanner {
    margin: 20px 10px;
    display: flex;
    justify-content: space-between;
}
.titleName {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    color: #777777;
}
.listContent {
    width: 600px;
    height: 400px;
    margin: auto;
}