.topBanner {
    position: fixed;
    left: 0;
    right: 0;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 20px;
    border-bottom: 1px solid #ddd;
}
.titleName {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    color: #777777;
}
.listContent {
    width: 600px;
    height: 400px;
    margin: auto;
}
.dialog-bg{
    background-color: rgba(255,255,255,0);
    box-shadow: 0 1px 3px rgba(0,0,0,0);
}