.carousel{
    position: fixed;
    top: 0;
    width: 100%;
    height: 800px;
    background: url('../../assets/img/bannerbg.jpg')
}
.car-hide{
    height: 80px;
    animation: carHide 1s;
    -moz-animation:carHide 1s; /* Firefox */
    -webkit-animation:carHide 1s; /* Safari and Chrome */
    -o-animation:carHide 1s; /* Opera */
}
@keyframes carHide{
    from {
        height: 800px;
    }
    to {
        height: 80px;
    }
}
@-moz-keyframes carHide /* Firefox */
{
    from {
        height: 800px;
    }
    to {
        height: 80px;
    }
}
@-webkit-keyframes carHide /* Safari and Chrome */
{
    from {
        height: 800px;
    }
    to {
        height: 80px;
    }
}
@-o-keyframes carHide /* Opera */
{
    from {
        height: 800px;
    }
    to {
        height: 80px;
    }
}
.car-show{
    height: 800px;
    animation: carShow 2s;
    -moz-animation:carShow 2s; /* Firefox */
    -webkit-animation:carShow 2s; /* Safari and Chrome */
    -o-animation:carShow 2s; /* Opera */
}
@keyframes carShow
{
    from {
        height: 80px;
    }
    to {
        height: 800px;
    }
}
@-moz-keyframes carShow /* Firefox */
{
    from {
        height: 80px;
    }
    to {
        height: 800px;
    }
}
@-webkit-keyframes carShow /* Safari and Chrome */
{
    from {
        height: 80px;
    }
    to {
        height: 800px;
    }
}
@-o-keyframes carShow /* Opera */
{
    from {
        height: 80px;
    }
    to {
        height: 800px;
    }
}

.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 20px 10px;
    background: url('../../assets/img/bannerbg.jpg')
}
.titleName {
    margin-left: 250px;
    font-size: 38px;
    line-height: 1;
    color: #777777;
}
.dialog-bg{
    background-color: rgba(255,255,255,0);
    box-shadow: 0 1px 3px rgba(0,0,0,0);
}
.login-logo{
    width: 35px;
    height: 35px;
    margin: 10px 25px;
    background-size: 35px 35px;
    background-image: url('../../assets/img/inlog.png')
}
.outlog-logo{
    width: 35px;
    height: 35px;
    margin: 10px 25px;
    background-size: 35px 35px;
    background-image: url('../../assets/img/outlog.png')
}
.outlog-logo:hover{
    background-image: url('../../assets/img/iconh.png')
}
.logo{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 40px;
    margin-right: 20px;
}
.back-btn{
    position: absolute;
    top:30px;
    left: 20px;
    cursor: pointer;
    z-index: 9999;
    height: 40px;  
}
.nav-content{
    margin-top: 100px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav{
    width: 22%;
}